@media screen and (max-width:400px) {
    hr{
        display: none;
    }
    .service-container{
        gap: 25px;
    }
    .service-container h1{
        font-size: 20px;
    }
    .service-container p{
        font-size: 15px;
        padding: 0px 20px;
    }
    .articles-container{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}