.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 70px 0px;
}

.title-contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title-contact hr{
    height: 5px;
    width: 70px;
    border: none;
    background-color: #FFC707;
}

.title-contact h1{
    font-family: var(--roboto-medium);
    font-weight: lighter;
    font-size: 80px;
}

.contact-container p{
    padding: 0px 220px;
    font-family: var(--roboto-light);
    text-align: center;
    font-size: 23px;
}

.form-control{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form-control input{
   width: 300px;
   height: 50px;
   border: 1px solid #e8e6e6;
   padding: 0px 20px;
}
.form-control textarea{
    width: 300px;
    height: 150px;
    border: 1px solid #e8e6e6;
    padding: 5px 20px;
}

textarea:focus, input:focus{
    outline: none;
}

@media screen and (max-width:400px){
    .title-contact h1{
        font-size: 30px;
    }
    .contact-container p{
        padding: 0px 50px;
        font-size: 15px;
    }
}