.section-main{
    background: url('../images/mt-1733-home-header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    padding: 200px 0px;
    color: #fff;
}

.container h3{
    font-family: var(--roboto-medium);
    text-shadow: 2px 2px 1px #000;
    font-size: 25px;
}
.container h1:nth-child(2){
    font-family: var(--roboto-medium);
    text-shadow: 2px 2px 1px #000;
    font-size: 80px;
}
.container h1:nth-child(3) {
    text-shadow: 2px 2px 1px #000;
    font-size: 80px;
   font-family: var(--roboto-light);
}
.container p{
    font-family: var(--roboto-regular);
    font-size: 30px;
    text-shadow: 1px 2px 1px #000;
}