.service-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 70px 0px;
}

.title-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title-header hr{
    height: 5px;
    width: 70px;
    border: none;
    background-color: #FFC707;
}

.service-container h1{
    font-family: var(--roboto-medium);
    font-weight: lighter;
    font-size: 80px;
}

.service-container p {
    padding: 0px 220px;
    font-family: var(--roboto-light);
    text-align: center;
    font-size: 23px;
}

.articles-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.service-article{
    border: 2px solid #bfbfbf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 50px 20px;
    gap: 20px;
}
.service-article h1{
    font-size: 25px;
}
.service-article p{
    font-size: 12px;
    padding: 0px 0px;
}

.service-article:hover{
    border: 2px solid var(--colorSecondary);
    transition: 1.5s;
}